@media (min-width:320px) and (max-width: 479px){ 
	#wrapper{
		width: 97%;
	}

	.half {
		width: 100%;
	}

	.view {
		width: 95%;
		margin: 2% ;
	} 

	.media {
		width: 90%;
	}

	.piece {
		width: 83%;
		margin: 2% 6%;
	}

	.code, .codeclimate img {
		width: 95%;
	}

	.nav {
		width: 100%;
		text-align: left;
		margin: 1em 0;
	}

	.nav li {
		margin: 0 0 0 0.3em;
		letter-spacing: -0.5px;
	}

	.nav .active {
		padding: 3px;
	}

	.nav a {
		font-size: 0.5em !important;
		margin: 0;
	}

	.logo {
		width: 100%;
	}

	.logo img {
		width: 50%;
	}

	.title {
		margin: 0;
	}

	.title h1 {
		font-size: 2em;
	}

	h3{
		font-size: 0.7em;
	}

	.contact {
		width: 100%;
	}

	.social img {
		width: 10%;
		float: right;
	}
}

@media (min-width:480px) and (max-width: 640px){ 
	#wrapper{
		width: 96%;
	}

	.half {
		width: 100%;
	}

	.view {
		width: 62%;
		margin: 2% 12%;
	} 

	.media {
		width: 90%;
	}

	.piece {
		width: 83%;
		margin: 2% 6%;
	}

	.code, .codeclimate img {
		width: 95%;
	}

	.nav {
		width: 100%;
		text-align: left;
	}

	.nav li {
		font-size: 0.85em;
		margin: 0 0 0 0.7em;
	}
}

@media (min-width:641px) and (max-width: 767px){ 
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	#wrapper{
		width: 96%;
	}

	.half {
		width: 70%;
	}

	.view {
		width: 47%;
		margin: 2% 1%;
	} 

	.media {
		width: 86%;
	}

	.piece {
		width: 65%;
		margin: 2% 20%;
	}

	.code, .codeclimate img {
		width: 95%;
	}

	.nav {
		width: 100%;
		text-align: left;
	}

}

@media (min-width:768px) and (max-width: 1023px) { 
	#wrapper{
		width: 96%;
	}

	.half {
		width: 70%;
	}

	.view {
		width: 45%;
		margin: 2%;
	} 

	.main {
		margin: 0 0 0 7%;
	}
	.media {
		width: 86%;
	}

	.piece {
		width: 45%;
	}

	.code, .codeclimate img {
		width: 95%;
	}

	.nav {
		width: 70%;
		text-align: right;
		float: right;
		margin: 1em 0 0 0;
	}

	.logo {
		width: 30%;
	}
	.nav li {
		font-size: 1em;
		margin: 0 0 0 0.5em;
	}

}
@media (min-width:1024px) and (max-width: 1280px) { 
/* big landscape tablets, laptops, and desktops */ 
	#wrapper{
		width: 95%;
	}

	.half {
		width: 70%;
	}

	.view {
		width: 29%;
	}
}

@media (min-width:1281px){ 
/* hi-res laptops and desktops */ 
	#wrapper{
		width: 90%;
	}

	.half {
		width: 65% !important;
	}

	.code {
		width: 90% !important;
	}
}