//colors
$white: white;
$black: black;
$color_mercury_approx: #e6e5e5;
$color_shark_approx: #282827;
$color_international_orange_approx: #fc5401;
$color_tuatara_approx: #363636;
$color_gray_nurse_approx: #e8e8e8;
$color_scarlet_approx: #eb2200;
$color_celeste_approx: #ccc;
$color_bombay_approx: #afb6bb;
$purple: #7986cb;

//fonts
$font_0: museosans;
$font_1: museo;
$font_2: HelveticaNeue-Light;
$font_3: Helvetica Neue Light;
$font_4: Helvetica Neue;
$font_5: Helvetica;
$font_6: Arial;
$font_7: Lucida Grande;
$font_8: sans-serif;
$font_9: arial;
$font_10: helveticaneue-light;
$font_11: Roboto;

//urls
$url_0: url(/typography/museosans_500-webfont.eot);
$url_1: url(/typography/museosans_500-webfont.eot?#iefix);
$url_2: url(/typography/museosans_500-webfont.woff);
$url_3: url(/typography/museosans_500-webfont.ttf);
$url_4: url(/typography/museosans_500-webfont.svg#museo_sans500);
$url_5: url(/typography/museo300-regular-webfont.eot);
$url_6: url(/typography/museo300-regular-webfont.eot?#iefix);
$url_7: url(/typography/museo300-regular-webfont.woff);
$url_8: url(/typography/museo300-regular-webfont.ttf);
$url_9: url(/typography/museo300-regular-webfont.svg#museo300);
$url_10: url(/images/cream_dust.png);
$url_11: url(/typography/Roboto-Regular.eot);
$url_12: url(/typography/Roboto-Regular.eot?#iefix);
$url_13: url(/typography/Roboto-Regular.woff);
$url_14: url(/typography/Roboto-Regular.ttf);
$url_15: url(/typography/Roboto-Regular.svg#museo300);

//@extend-elements
//original selectors
//h1, h2, h3, h4, p, a, li
%extend_1 {
	font-family: $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8;
	font-weight: normal;
	color: $color_shark_approx;
	line-height: 1em;
}

//original selectors
//.nav, .footernav
%extend_2 {
	width: 75%;
	margin: 3% 0 0 0;
	text-align: right;
	float: left;
}

//original selectors
//.nav li, .footernav li
%extend_3 {
	display: inline;
	text-transform: uppercase;
	margin: 0 0 0 1em;
}

//original selectors
//.nav a, .footernav a
%extend_4 {
	color: $purple;
	font-size: 0.85em;
	margin: 0 2% 0 0;
	text-transform: uppercase;
	font-family: $font_11, $font_9, $font_8;
}

//original selectors
//.nav.light li a, .footernav.light li a
%extend_5 {
	color: $color_gray_nurse_approx;
	text-decoration: none;
	font-size: 0.95em;
	font-family: $font_0, $font_10, $font_9, $font_8;
}

//original selectors
//.main-tags .tag, .dev-tags .tag
%extend_6 {
	background-color: $color_bombay_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	padding: 6px 15px;
	display: inline-block;
	margin: 20px 7px 30px 0;
}

//original selectors
//.main-tags .tag p, .dev-tags .tag p
%extend_7 {
	font-family: $font_0;
	font-size: 0.9em;
	text-transform: uppercase;
	color: $white;
	line-height: 0;
	float: right;
	line-height: 5px;
}

//original selectors
//.main-tags .tag img, .dev-tags .tag img
%extend_8 {
	width: 18px;
	float: left;
	margin: 3px 5px 0 0;
}


@font-face {
	font-family: $font_0;
	src: $url_0;
	src: $url_1 format("embedded-opentype"), $url_2 format("woff"), $url_3 format("truetype"), $url_4 format("svg");
}
@font-face {
	font-family: $font_1;
	src: $url_5;
	src: $url_6 format("embedded-opentype"), $url_7 format("woff"), $url_8 format("truetype"), $url_9 format("svg");
}
body {
	background-color: $white;
}
.fondo {
	background-color: $black;
	opacity: .5;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.media {
	z-index: -1;
	border: 1px solid $color_celeste_approx;
	height: 300px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	overflow: hidden;
	width: 100%;
}
.clear {
	clear: both;
}
#wrapper {
	width: 70%;
	margin: 0 auto;
}
hr {
	border-bottom: $color_mercury_approx;
	opacity: 0.3;
	height: 1px;
}
h1 {
	@extend %extend_1;
	font-size: 2.7em;
	font-family: $font_0, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8;
	letter-spacing: -1.2px;
}
h2 {
	@extend %extend_1;
	font-size: 1.2em;
	font-family: $font_0, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8;
}
h3 {
	@extend %extend_1;
	font-size: 1.2em;
	font-family: $font_1, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8;
	font-style: italic;
	margin: 10px 0 20px;
}
h4 {
	@extend %extend_1;
	font-size: 2em;
	letter-spacing: -0.5px;
	margin: 10px 0 20px;
}
p {
	@extend %extend_1;
	font-size: 1em;
	line-height: 1.5em;
	margin: 10px 0;
}
a {
	@extend %extend_1;
	font-size: 1em;
	line-height: 1.5em;
	color: $color_international_orange_approx;
	&:hover {
		color: $color_shark_approx;
	}
}
li {
	@extend %extend_1;
	font-size: 1em;
	line-height: 1.5em;
	line-height: 30px;
}
.logo {
	width: 25%;
	float: left;
}

.logo, .phone {
	margin: 0.5em 0;
}

.phone p, .button a {
	font-size: 0.5em;
	font-weight: 300;
	line-height: 1.5em;
	letter-spacing: 0.1em;
}

.flow-text {
	font-size: 1.68rem;
}

.border-left {
	//Instead of the line below you could use @include border-top-left-radius($radius)
	border-top-left-radius: 4px !important;
}
.border-right {
	//Instead of the line below you could use @include border-top-right-radius($radius)
	border-top-right-radius: 4px !important;
}
.climate-top {
	width: 100%;
	height: 100px;
	margin: 30px auto;
	text-align: center;
	display: table;
	p {
		display: table-cell;
		vertical-align: middle;
		width: 95% !important;
	}
	.codeclimate {
		width: 100%;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		img {
			width: 100%;
			margin: 0 auto;
		}
	}
}
.climate-left {
	width: 50%;
	height: 400px;
	float: left;
	margin: 30px 0;
	display: table;
	p {
		display: table-cell;
		vertical-align: middle;
		width: 95% !important;
	}
}
.climate-right {
	width: 50%;
	height: 400px;
	float: left;
	margin: 30px 0;
	display: table;
	.codeclimate {
		width: 100%;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		img {
			width: 100%;
			margin: 0 auto;
		}
	}
}
.nav {
	@extend %extend_2;
	li {
		@extend %extend_3;
	}
	a {
		@extend %extend_4;
		text-decoration: none;
		letter-spacing: 0.25px;
	}
	.active {
		border-bottom: 1px solid $purple;
		padding: 6px;
		&:hover {
			color: $black;
		}
	}
	&.light li a {
		@extend %extend_5;
		&:hover {
			color: $color_scarlet_approx;
		}
	}
}
.footernav {
	@extend %extend_2;
	li {
		@extend %extend_3;
	}
	a {
		@extend %extend_4;
		&:hover {
			color: $color_scarlet_approx;
		}
	}
	.active {
		border: 2px solid $black;
		padding: 6px;
		&:hover {
			color: $black;
		}
	}
	&.light li a {
		@extend %extend_5;
		&:hover {
			color: $color_scarlet_approx;
		}
	}
}
.social {
	margin-right: 3%;
	img {
		margin: 0 0 0 10px;
	}
}
.piece {
	float: left;
	max-width: 355px;
	width: 31%;
	text-align: center;
	height: 300px;
	h1 {
		font-size: 1.2em;
		text-transform: uppercase;
	}
	.media {
		width: 100%;
		height: 100%;
	}
}
.shorter {
	height: 260px;
}
.title {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding: 1em 0;
}
.process {
	width: 100%;
	margin: 0 auto;
	h1 {
		text-transform: uppercase;
		font-size: 1.5em;
		letter-spacing: -1px;
		text-align: center;
	}
	&.codequality {
		width: 40%;
		float: left;
		margin: 8em 0 0;
	}
	&.steps {
		text-align: center;
		margin: 2em 0 !important;
	}
}
.process_h {
	margin-top: 2em;
}
.design {
	margin: 2em 0;
}
.development {
	margin: 2em 0;
}
.full {
	text-align: center;
}
.center {
	margin: 0 auto;
}
.center_process {
	padding-left: 4%;
	float: none;
	margin: 0 auto;
}
.center-video {
	margin: 0 auto;
}
.centro {
	margin: 0 auto;
}
.half {
	width: 15% !important;
}
.small {
	width: 20%;
}
.left {
	float: left;
}
.code {
	width: 100%;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	margin-left: -12px;
}
.dev-tags {
	text-align: left !important;
	width: 100%;
	text-align: center;
	.tag {
		margin: 4px 7px 4px 0 !important;
		@extend %extend_6;
		p {
			@extend %extend_7;
		}
		img {
			@extend %extend_8;
		}
	}
	a:hover .tag {
		background-color: $color_scarlet_approx;
	}
}
.main-tags {
	width: 100%;
	text-align: center;
	.tag {
		@extend %extend_6;
		p {
			@extend %extend_7;
		}
		img {
			@extend %extend_8;
		}
	}
	a:hover .tag {
		background-color: $color_scarlet_approx;
	}
}
.description {
	width: 80%;
	margin: 0 auto;
	p {
		font-size: 1.1em;
	}
}
.text {
	width: 28%;
	margin: 0 5% 4% 0;
}
.portfolio {
	.piece {
		border: 1px solid $color_celeste_approx;
		background-color: $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		overflow: hidden;
	}
	img {
		border-bottom: solid 1px $color_celeste_approx;
	}
}
pre {
	line-height: 20px;
	color: $white;
}
.codeclimate {
	width: 55%;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	overflow: hidden;
	margin: 20px 0;
	img {
		width: 100%;
	}
}
.footer {
	width: 100%;
	background-color: $black;
	padding: 1% 0 2.4% 0;
	overflow: hidden;
	margin: 60px 0 0;
	.button {
		margin: 3% 0 0;
		width: 55%;
		a {
			padding: 5% 3%;
		}
	}
	.footernav {
		width: 50%;
		text-align: left;
		margin: 0 0 6px 0;
		a {
			color: $color_gray_nurse_approx;
			margin: 0 0 0 5%;
			&:hover {
				color: $color_scarlet_approx;
			}
		}
	}
}
.contact {
	width: 100%;
}
.right {
	float: right;
}
.video {
	margin: 0 2em 1em 0;
	width: 648px;
	height: 380px;
}
.video_media {
	width: 100%;
	height: 100%;
}
.header {
	width: 100%;
	padding: 1em 1em 1em 0;
}
.title-header {
	background-image: $url_10;
	width: 100%;
}
.images {
	float: none;
	margin: 0 auto;
	width: 80%;
}
#tabs li a {
	font-size: 0.8125em;
}
.icon img {
	width: 90px;
}
