html {
  position: relative;
  min-height: 100%; }

h1, h2, h3, h4, h6, p, a, li {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #282827;
  line-height: 110%; }

.nav, .footernav {
  width: 75%;
  margin: 3% 0 0 0;
  text-align: right;
  float: left; }

.nav li, .footernav li {
  display: inline;
  text-transform: uppercase;
  margin: 0 0 0 1em; }

.nav a, .footernav a {
  color: #7986cb;
  font-size: 0.9em;
  margin: 0 0 0 1.45em;
  text-transform: uppercase;
  font-family: "Roboto", arial, sans-serif;
  font-weight: normal; }

.nav.light li a, .footernav.light li a {
  color: #e8e8e8;
  text-decoration: none;
  font-size: 0.95em;
  font-family: museosans, helveticaneue-light, arial, sans-serif; }

.dev-tags .tag, .main-tags .tag {
  background-color: #afb6bb;
  border-radius: 2px;
  padding: 6px 15px;
  display: inline-block;
  margin: 20px 7px 30px 0; }

.dev-tags .tag p, .main-tags .tag p {
  font-family: museosans;
  font-size: 0.9em;
  text-transform: uppercase;
  color: white;
  line-height: 0;
  float: right;
  line-height: 5px; }

.dev-tags .tag img, .main-tags .tag img {
  width: 18px;
  float: left;
  margin: 3px 5px 0 0; }

@font-face {
  font-family: "Roboto";
  src: url(/typography/Roboto-Thin.woff2) format("woff2"), url(/typography/Roboto-Thin.woff) format("woff"), url(/typography/Roboto-Thin.ttf) format("truetype");
  font-weight: 200; }
@font-face {
  font-family: "Roboto";
  src: url(/typography/Roboto-Light.woff2) format("woff2"), url(/typography/Roboto-Light.woff) format("woff"), url(/typography/Roboto-Light.ttf) format("truetype");
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: url(/typography/Roboto-Regular.woff2) format("woff2"), url(/typography/Roboto-Regular.woff) format("woff"), url(/typography/Roboto-Regular.ttf) format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url(/typography/Roboto-Medium.woff2) format("woff2"), url(/typography/Roboto-Medium.woff) format("woff"), url(/typography/Roboto-Medium.ttf) format("truetype");
  font-weight: 500; }
@font-face {
  font-family: "Roboto";
  src: url(/typography/Roboto-Bold.woff2) format("woff2"), url(/typography/Roboto-Bold.woff) format("woff"), url(/typography/Roboto-Bold.ttf) format("truetype");
  font-weight: 700; }
@font-face {
  font-family: museosans;
  src: url(/typography/museosans_500-webfont.eot);
  src: url(/typography/museosans_500-webfont.eot?#iefix) format("embedded-opentype"), url(/typography/museosans_500-webfont.woff) format("woff"), url(/typography/museosans_500-webfont.ttf) format("truetype"), url(/typography/museosans_500-webfont.svg#museo_sans500) format("svg"); }
@font-face {
  font-family: museo;
  src: url(/typography/museo300-regular-webfont.eot);
  src: url(/typography/museo300-regular-webfont.eot?#iefix) format("embedded-opentype"), url(/typography/museo300-regular-webfont.woff) format("woff"), url(/typography/museo300-regular-webfont.ttf) format("truetype"), url(/typography/museo300-regular-webfont.svg#museo300) format("svg"); }
body {
  background-color: white; }

.fondo {
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
  z-index: -1; }

.media {
  z-index: -1;
  border: 1px solid #ccc;
  height: 300px;
  border-radius: 3px;
  overflow: hidden;
  width: 100%; }

.clear {
  clear: both; }

#wrapper {
  width: 70%;
  margin: 0 auto; }

hr {
  border-bottom: #e6e5e5;
  opacity: 0.3;
  height: 1px; }

h1 {
  font-size: 3.3rem;
  font-family: "Roboto", sans-serif;
  margin: 1.78rem 0 1.424rem 0; }

h2 {
  font-size: 1.2em;
  font-family: museosans, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; }

h3 {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin: 10px 0 20px; }

h4 {
  font-size: 2em;
  letter-spacing: -0.5px;
  margin: 10px 0 20px; }

h6 {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 0.5rem 0 0.4rem 0; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 10px 0; }

a {
  font-size: 1em;
  line-height: 1.5em;
  color: #fc5401; }
  a:hover {
    background-color: #3e466e;
    color: white; }

.header .logo a {
  background-color: transparent;
  color: transparent; }

.header .nav a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 37px;
  padding: 0 11px;
  margin-left: 4px;
  margin-right: 4px;
  box-shadow: none;
  z-index: 1; }

li {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 30px; }

.logo {
  float: left;
  width: 26%; }

.header-new {
  width: 100%; }

.header .logo img {
  max-width: 100%;
  max-width: 236px;
  max-height: 46px;
  margin: -5px 0 0 33px; }

.nav-home-new {
  width: 74%;
  margin: 0; }

.phone p {
  margin-right: 2%;
  margin-top: -13px;
  margin-bottom: 23px;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.1em; }

.main .view-first h1 {
  margin-top: 1rem; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin: 0;
  margin-bottom: 120px; }

.nav-footer-home {
  margin: 0 auto;
  float: none; }

.nav-footer-home a {
  color: white; }

.nav-footer-home a:hover {
  color: #7986cb; }

.nav-footer-social-icons {
  width: 50%;
  margin-left: 0;
  margin: 10px 0 20px 0;
  float: left;
  text-align: left; }

.nav-footer-social-icons a {
  margin: 0 5px 0 0; }

.nav-footer-link {
  width: 50%;
  margin-left: 0;
  margin: 10px 0 20px 0;
  float: left;
  text-align: right; }

.nav-footer-link a {
  margin: 0 0 0 1.5em;
  padding: 0.5em 0; }

.border-left {
  border-top-left-radius: 4px !important; }

.border-right {
  border-top-right-radius: 4px !important; }

.climate-top {
  width: 100%;
  height: 100px;
  margin: 30px auto;
  text-align: center;
  display: table; }
  .climate-top p {
    display: table-cell;
    vertical-align: middle;
    width: 95% !important; }
  .climate-top .codeclimate {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
    .climate-top .codeclimate img {
      width: 100%;
      margin: 0 auto; }

.climate-left {
  width: 50%;
  height: 400px;
  float: left;
  margin: 30px 0;
  display: table; }
  .climate-left p {
    display: table-cell;
    vertical-align: middle;
    width: 95% !important; }

.climate-right {
  width: 50%;
  height: 400px;
  float: left;
  margin: 30px 0;
  display: table; }
  .climate-right .codeclimate {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
    .climate-right .codeclimate img {
      width: 100%;
      margin: 0 auto; }

.nav a {
  text-decoration: none;
  letter-spacing: 0.25px; }
.nav .active {
  background-color: #3e466e;
  color: white; }

.nav.light li a:hover {
  color: #eb2200; }

.footernav a:hover {
  color: #eb2200; }
.footernav .active {
  border: 2px solid black;
  padding: 6px; }
  .footernav .active:hover {
    color: black; }
.footernav.light li a:hover {
  color: #eb2200; }

.social {
  margin-right: 3%; }
  .social img {
    margin: 0 0 0 10px; }

.piece {
  float: left;
  max-width: 355px;
  width: 31%;
  text-align: center;
  height: 300px; }
  .piece h1 {
    font-size: 1.2em;
    text-transform: uppercase; }
  .piece .media {
    width: 100%;
    height: 100%; }

.shorter {
  height: 260px; }

.title {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0; }

.process {
  width: 100%;
  margin: 0 auto; }
  .process h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: -1px;
    text-align: center; }
  .process.codequality {
    width: 40%;
    float: left;
    margin: 8em 0 0; }
  .process.steps {
    text-align: center;
    margin: 2em 0 !important; }

.process_h {
  margin-top: 2em; }

.design {
  margin: 2em 0; }

.development {
  margin: 2em 0; }

.full {
  text-align: center; }

.center {
  margin: 0 auto; }

.center_process {
  padding-left: 4%;
  float: none;
  margin: 0 auto; }

.center-video {
  margin: 0 auto; }

.centro {
  margin: 0 auto; }

.half {
  width: 15% !important; }

.small {
  width: 20%; }

.left {
  float: left; }

.code {
  width: 100%;
  border-radius: 3px;
  margin-left: -12px; }

.dev-tags {
  text-align: left !important;
  width: 100%;
  text-align: center; }
  .dev-tags .tag {
    margin: 4px 7px 4px 0 !important; }
  .dev-tags a:hover .tag {
    background-color: #eb2200; }

.main-tags {
  width: 100%;
  text-align: center; }
  .main-tags a:hover .tag {
    background-color: #eb2200; }

.description {
  width: 80%;
  margin: 0 auto; }
  .description p {
    font-size: 1.1em; }

.text {
  width: 28%;
  margin: 0 5% 4% 0; }

.portfolio .piece {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  overflow: hidden; }
.portfolio img {
  border-bottom: solid 1px #ccc; }

pre {
  line-height: 20px;
  color: white; }

.codeclimate {
  width: 55%;
  border-radius: 3px;
  overflow: hidden;
  margin: 20px 0; }
  .codeclimate img {
    width: 100%; }

.footer {
  width: 100%;
  background-color: black;
  padding: 0.5% 0 0 0;
  overflow: hidden;
  margin: 60px 0 0;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .footer .button {
    margin: 3% 0 0;
    width: 55%; }
    .footer .button a {
      padding: 5% 3%; }
  .footer .footernav {
    width: 50%;
    text-align: left;
    margin: 0 0 6px 0; }
    .footer .footernav a {
      color: #e8e8e8;
      margin: 0 0 0 5%; }
      .footer .footernav a:hover {
        color: #eb2200; }

.contact {
  width: 100%; }

.right {
  float: right; }

.video {
  margin: 0 2em 1em 0;
  width: 648px;
  height: 380px; }

.video_media {
  width: 100%;
  height: 100%; }

.header {
  padding: 1em 1em 1em 0; }

.title-header {
  background-image: url(/images/cream_dust.png);
  width: 100%; }

.images {
  float: none;
  margin: 0 auto;
  width: 80%; }

#tabs li a {
  font-size: 0.8125em; }

.icon img {
  width: 90px; }

/*# sourceMappingURL=styles.css.map */
