@font-face {
  font-family: 'museosans';
  src: url("/typography/museosans_500-webfont.eot");
  src: url("/typography/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("/typography/museosans_500-webfont.woff") format("woff"), url("/typography/museosans_500-webfont.ttf") format("truetype"), url("/typography/museosans_500-webfont.svg#museo_sans500") format("svg"); }
@font-face {
  font-family: 'museo';
  src: url("/typography/museo300-regular-webfont.eot");
  src: url("/typography/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/typography/museo300-regular-webfont.woff") format("woff"), url("/typography/museo300-regular-webfont.ttf") format("truetype"), url("/typography/museo300-regular-webfont.svg#museo300") format("svg"); }
* {
  margin: 0;
  padding: 0; }

body {
  background-color: white; }

.fondo{
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.media {
  z-index: -1;
}

.clear {
  clear: both; }

#wrapper {
  width: 80%;
  margin: 0 auto; }

hr {
  border-bottom: #e6e5e5;
  opacity: 0.3;
  height: 1px; }

h1, h2, h3, h4, p, a, li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  color: #282827;
  line-height: 1em; }

h1 {
  font-size: 2.7em;
  font-family: "museosans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
  letter-spacing: -1.2px;
  line-height: 2em; }

h2 {
  font-size: 1.2em;
  font-family: "museosans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif"; }

h3 {
  font-size: 1.2em;
  font-family: "museo", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
  font-style: italic;
  margin: 10px 0 20px 0; }

h4 {
  font-size: 2em;
  letter-spacing: -0.5px;
  margin: 10px 0 20px 0; }

p, a, li {
  font-size: 1em;
  line-height: 1.5em; }

a {
  color: #fc5401; }
  a:hover {
    color: #282827; }

li {
  line-height: 30px; }

p {
  margin: 10px 0; }

/**PORTFOLIO**/
.logo {
  width: 25%;
  float: left;}
  .logo img {
    /*width: 50%;*/
  }

#tabs li a {
  font-size: 0.8125em;
}

.border-left {
  border-top-left-radius: 4px !important;
}

.border-right {
  border-top-right-radius: 4px !important;
}

.climate-top {
  width: 100%;
  height: 100px;
  margin: 30px auto;
  text-align: center;
  display: table; }
  .climate-top p {
    display: table-cell;
    vertical-align: middle;
    width: 95% !important; }

.climate-left {
  width: 50%;
  height: 400px;
  float: left;
  margin: 30px 0 30px 0;
  display: table; }
  .climate-left p {
    display: table-cell;
    vertical-align: middle;
    width: 95% !important; }
  .climate-top .codeclimate {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
  .climate-top .codeclimate img {
    width: 100%;
    margin: 0 auto; }

.climate-right {
  width: 50%;
  height: 400px;
  float: left;
  margin: 30px 0 30px 0;
  display: table; }
  .climate-right .codeclimate {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
  .climate-right .codeclimate img {
    width: 100%;
    /*height: 100%;*/
    margin: 0 auto; }

.nav, .footernav {
  width: 75%;
  margin: 10px 0 0 0;
  text-align: right;
  float: left; }
  .nav li, .footernav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 0 0 1em; }
  .nav a,.footernav a {
    color: #363636;
    font-size: 0.8em;
    margin: 0 2% 0 0;
    text-transform: uppercase;
    font-family: "museosans", "arial", "sans-serif";}
  .nav.light li a,.footernav.light li a {
    color: #e8e8e8;
    text-decoration: none;
    font-size: 0.95em;
    font-family: "museosans", "helveticaneue-light", "arial", "sans-serif"; }
  .nav a:hover, .nav.light li a:hover, .footernav a:hover, .footernav.light li a:hover {
    color: #eb2200;
    /*color: white;*/ }
  .nav .active,.footernav .active {
    border: 2px solid #000;
    padding: 6px; }
  .nav .active:hover,.footernav .active:hover {
    color: #000; }
.footernav{
  /*padding: 2em 0;*/
}
  .nav a{
    text-decoration: none;
  }

  .social {
    margin-right: 3%;
  }

.piece {
  float: left;
  max-width: 355px;
  width: 31%;
  text-align: center;
  height: 300px; }
  .piece h1 {
    font-size: 1.2em;
    text-transform: uppercase; }

/*.piece .media img {
  width: 100%;
  height: 100%;
}*/

.piece .media {
  width: 100%;
  height: 100%;
}

.media {
  border: 1px solid #ccc;
  height: 300px;
  border-radius: 3px;
  overflow: hidden;
  width: 100%; }

.shorter {
  height: 260px; }

.title {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0; }

.process {
  /*width: 80%;*/
  width: 100%;
  margin: 0 auto; }
  .process h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: -1px;
    text-align: center; }

.process_h {
  margin-top: 2em; }

.design, .development {
  margin: 2em 0; }

.full {
  text-align: center; }

.center {
  margin: 0 auto; }

.center_process {
  padding-left: 4%;
  float: none;
  margin: 0 auto; }

.center-video {
  margin: 0 auto; }

.centro {
  margin: 0 auto; }

.half {
  width: 15% !important; }

.small {
  width: 20%; }

.left {
  float: left; }

.code {
  /*background-color: #272822;*/
  width: 100%;
  border-radius: 3px;
  margin-left: -12px; }

.dev-tags {
  text-align: left !important; }
  .dev-tags .tag {
    margin: 4px 7px 4px 0 !important; }

.main-tags, .dev-tags {
  width: 100%;
  text-align: center; }
  .main-tags .tag, .dev-tags .tag {
    background-color: #afb6bb;
    border-radius: 2px;
    padding: 6px 15px;
    display: inline-block;
    margin: 20px 7px 30px 0; }
    .main-tags .tag p, .dev-tags .tag p {
      font-family: "museosans";
      font-size: 0.9em;
      text-transform: uppercase;
      color: white;
      line-height: 0;
      float: right;
      line-height: 5px; }
    .main-tags .tag img, .dev-tags .tag img {
      width: 18px;
      float: left;
      margin: 3px 5px 0 0; }
  .main-tags a:hover .tag, .dev-tags a:hover .tag {
    background-color: #eb2200; }

.description p {
  font-size: 1.1em; }

.icon img {
  width: 90px; }

.text {
  width: 28%;
  margin: 0 5% 4% 0; }

.portfolio {
  /*margin: 40px 0;*/ }
  .portfolio .piece {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    overflow: hidden; }
  .portfolio img {
    border-bottom: solid 1px #ccc; }

pre {
  line-height: 20px;
  color: white; }

.codeclimate {
  width: 55%;
  border-radius: 3px;
  overflow: hidden;
  margin: 20px 0; }
  .codeclimate img {
    width: 100%; }

.footer {
  width: 100%;
  background-color: #000;
  padding: 1% 0 2.4% 0;
  overflow: hidden;
  margin: 60px 0 0 0; }
  .footer .button {
    margin: 3% 0 0 0;
    width: 55%; }
    .footer .button a {
      padding: 5% 3%; }
  .footer .footernav {
    width: 50%;
    text-align: left;
    margin: 0 0 6px 0; }
    .footer .footernav a {
      color: #e8e8e8;
      margin: 0 0 0 5%; }
      .footer .footernav a:hover {
        color: #eb2200; }

.social img {
  margin: 0 0 0 10px; }

.contact {
  width: 100%; }

.right {
  float: right; }

.left {
  float: left; }

.video {
  margin: 0 2em 1em 0;
  /*width: 480px;
  height: 281px;*/

  width: 648px;
  height: 380px;
  /*max-width: 648px;*/
  /*max-height: 400px;*/ }

.video_media {
  width: 100%;
  height: 100%; }

.header {
  width: 100%;
  padding: 1em 1em 1em 0; }

.description {
  width: 80%;
  margin: 0 auto; }

.title-header {
  background-image: url("/images/cream_dust.png");
  width: 100%; }

.process.codequality {
  width: 40%;
  float: left;
  margin: 8em 0 0 0; }

.process.steps {
  text-align: center;
  margin: 2em 0 !important; }

.images {
  float: none;
  margin: 0 auto;
  width: 80%; }

/*# sourceMappingURL=styles.css.map */
